<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leeper.jordan.rolodex">

    <permission android:name="com.leeper.jordan.rolodex.provider.READWRITE" />
    <uses-permission android:name="com.leeper.jordan.rolodex.provider.READWRITE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.ContactsListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/search_contacts_activity_title"
            android:parentActivityName=".activities.ContactsListActivity" />
        <activity
            android:name=".activities.ContactDetailsActivity"
            android:label="@string/contact_details_activity_title"
            android:parentActivityName=".activities.ContactsListActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <provider
            android:name="com.leeper.jordan.rolodex.datasource.ContactsProvider"
            android:authorities="com.leeper.jordan.rolodex.provider"
            android:exported="true"
            android:readPermission="com.leeper.jordan.rolodex.provider.READWRITE"
            android:writePermission="com.leeper.jordan.rolodex.provider.READWRITE" />
    </application>
</manifest>
